.interact__wrapper {
  .interact__item {
    display: inline-block;
    &:first-of-type {
      margin-right: $sp-25;
    }

    img {
      display: inline-block;
      width: 20px;
      margin-right: $sp-10;
    }
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.1);
      }
    }
  }
}
