.wrapInfo {
  @include displayFlex(center, null, column);
  overflow: hidden;
  padding-left: $sp-10;
  & > span:nth-child(1) {
    display: block;
    font-weight: 700;
    @extend %colorTheater;
  }
  & > span:nth-child(2) {
    @include styleText($color-light-0, $fs-12);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .showing__age {
    @extend %showAge;
  }
}
