.discuss {
  width: 90%;
  margin-top: 30px;
  background: $color-dark-2;
  padding-bottom: 20px;
  .discuss__click {
    line-height: 42px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: $color-white-0;
    cursor: pointer;
    &--container > * {
      padding: 0;
    }
    .thinking {
      @include styleText($color-black-1, clamp(13px, 2.5vw, 16px));
      margin: 0;
    }
    .icon-star {
      color: rgba(220, 53, 69, 0.75);
      font-size: clamp(15px, 3vw, 21px);
    }
  }
  .reviews-area {
    height: 608px;
    padding: 0 15px 5px;
    overflow: auto;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 7px;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(130, 130, 130, 0.7);
      border-radius: 15px;
      cursor: pointer;
      &:hover {
        background-color: rgba(130, 130, 130, 1);
      }
    }
    .review-area {
      position: relative;
      line-height: 42px;
      box-shadow: 0 0 10px gray;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.85);
      .close {
        position: absolute;
        opacity: 0.8;
        top: -11%;
        right: -2%;
        cursor: pointer;
        &:hover {
          opacity: 0.65;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
        }
      }
      .thinking {
        color: gainsboro;
        font-size: 16px;
        margin: 0;
      }
      .line {
        height: 1px;
        width: 100%;
        background-color: gray;
        border-radius: 15px;
      }
      .interaction {
        .like {
          transition: all 0.2s;
          input {
            display: none;
            &:checked + label {
              &:before {
                content: "\f004";
                color: #dc3545;
                font-family: FontAwesome;
              }
            }
          }
          label {
            cursor: pointer;
            &:active {
              transform: scale(0.95);
            }
            &:before {
              content: "\f08a";
              font-size: 18px;
              font-family: FontAwesome;
              display: inline-block;
              color: gainsboro;
            }
          }
        }
        .edit {
          color: gray;
          opacity: 0.7;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          &:active {
            text-decoration: underline;
            transform: scale(0.95);
            opacity: 0.7;
          }
        }
      }
      .point {
        color: #0de8e5;
        font-size: 24px;
      }
      .avatar {
        position: relative;
        .fb-icon {
          position: absolute;
          right: -50%;
          bottom: -15%;
          color: gainsboro;
          line-height: 17px;
          background-color: #3b5998;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid black;
          .icon {
            color: gainsboro;
            font-size: 12px;
          }
        }
        .gg-icon {
          position: absolute;
          right: -60%;
          bottom: -15%;
          line-height: 15px;
          background-color: #dc3545;
          width: 20px;
          height: 21px;
          border-radius: 7px;
          border: 3px solid black;
          .icon {
            color: gainsboro;
            font-size: 11px;
          }
        }
      }
    }
  }
}
